<section class="row">
    <h2 class="page-header"></h2>

    <div class="col-xs-4">
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-fw fa-envelope"></i>
                <small><a href="mailto:{{ site.hidden.email }}">{{ site.hidden.email }}</a></small>
            </li>
            <li>
                <i class="fa fa-fw fa-home"></i>
                {{ site.hidden.address }}
            </li>
            <li>
                <i class="fa fa-fw"></i>
                {{ site.hidden.postal }} {{ site.hidden.city }}
            </li>
            <li>
                <i class="fa fa-fw fa-phone"></i>
                {{ site.hidden.phone }}
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-fw fa-birthday-cake"></i>
                33 ans (25/04/1983)
            </li>
            <li>
                <i class="fa fa-fw fa-car"></i>
                Permis de conduire
            </li>
            <li>
                <i class="fa fa-fw fa-users"></i>
                Marié, 2 enfants
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul class="list-unstyled">
            {% for social in site.socials %}
                <li>
                    <i class="fa fa-fw fa-{{ social.icon }}"></i>
                    <a href="{{ social.url }}">
                        {{ social.alias }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</section>