<div class="row">
    <h2 class="page-header">Contact</h2>

    <div class="col-xs-4">
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-envelope"></i>
                {{ site.hidden.email }}
            </li>
            <li>
                <i class="fa fa-home"></i>
                {{ site.hidden.address|raw }}
            </li>
            <li>
                <i class="fa fa-phone"></i>
                {{ site.hidden.phone }}
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-birthday-cake"></i>
                32 ans (25/04/1983)
            </li>
            <li>
                <i class="fa fa-car"></i>
                Permis de conduire
            </li>
            <li>
                <i class="fa fa-users"></i>
                Marié, 2 enfants
            </li>
        </ul>
    </div>

    <div class="col-xs-4">
        <ul class="list-unstyled">
            {% for social in site.socials %}
                <li>
                    <i class="fa fa-{{ social.icon }}"></i>
                    <a href="{{ social.url }}">
                        {{ social.alias }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>