<section class="row">
<h2 class="page-header">Expérience Professionnelle</h2>

{# Sort jobs by starting year #}
{% for year in 2100..2000 %}
    {% for job in data.jobs if job.begin == year %}

        <div>
            <h3>{{ job.name }} <small>{{ job.begin }}-{{ job.end }} ({{ job.duration }})</small></h3>
            <h4>{{ job.company }}</h4>
            <div>
                {{ job.content|raw }}
            </div>

            <div>
                {% for techno in job.technologies %}
                    <span class="label label-primary">{{ techno }}</span>
                {% endfor %}
            </div>
            <div>
                {% for keyword in job.keywords %}
                    <span class="label label-success">{{ keyword }}</span>
                {% endfor %}
            </div>
        </div>

    {% endfor %}
{% endfor %}
</section>