<section class="row">
<h2 class="page-header">Expérience Professionnelle</h2>

{# Sort jobs by starting year #}
{% for year in 2100..2000 %}
    {% for job in data.jobs if job.begin == year %}

        <div>
            <h3>{{ job.name }}
                <small>
                    {{ job.begin }} - {{ job.end }}
                    {%  if job.duration %} ({{ job.duration }}){% endif %}
                </small>
            </h3>
            <h4 class="small-caps">{{ job.company }}</h4>
            <div class="text-justify">
                {{ job.content|raw }}
            </div>

            <p>
                {% for techno in job.technologies %}
                    <span class="label label-primary">{{ techno }}</span>
                {% endfor %}
            </p>
            <p>
                {% for keyword in job.keywords %}
                    <span class="label label-success">{{ keyword }}</span>
                {% endfor %}
            </p>
        </div>

    {% endfor %}
{% endfor %}
</section>