{% extends "default.twig" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li>Benoit Viguier</li>
                    <li>
                        {{ site.hidden.address|raw }}
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li>
                        {{ site.hidden.email }}
                    </li>
                    <li>
                        {{ site.hidden.phone }}
                    </li>
                </ul>
            </div>

            <div class="col-xs-offset-4 col-xs-5">
                Villeurbanne, le {{ "now"|date("d/m/Y") }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-7 col-xs-5">
                <ul class="list-unstyled">
                    <li>
                        {{ site.hidden.receiver.name }}
                    </li>
                    <li>
                        {{ site.hidden.receiver.company }}
                    </li>
                    <li>
                        {{ site.hidden.receiver.address|raw }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            {% block letter_content %}{% endblock %}
        </div>

        <div class="row">
            <p>
                Je reste à votre disposition pour tout renseignement complémentaire.
                Dans l'attente d'une réponse, veuillez agréer mes cordiales salutations.
            </p>
        </div>

        <div class="row">
            <p class="col-xs-offset-7 col-xs-3">
                Benoit Viguier
            </p>
        </div>
    </div>

{% endblock %}